  <form name = 'login-form' id = 'login-form' style = '  font: 62.5% "Trebuchet MS", sans-serif;' >
    <fieldset class="ui-helper-reset">
      <div class="ui-widget" id = 'login-error' style = 'display : none'>
        <div class="ui-state-error ui-corner-all" style="padding: 0 .7em;">
          <p><span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
          <strong>Error:</strong> <span id = 'login-errormsg'></span></p>
        </div>
      </div>
      <div class="ui-widget" id = 'login-pending' style = 'display : none'>
        <div class="ui-state-highlight ui-corner-all" style="padding: 0 .7em;">
          <p>
            <span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;"></span>
            <strong>Logging in as <span id = 'login-pendinguser'></span>...</strong>
          </p>
        </div>
      </div>
      <div class="ui-widget" id = 'already_logged_in' style = 'display : none'>
        <div class="ui-state-highlight ui-corner-all" style="padding: 0 .7em;">
          <p>
            <span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;"></span>
            Currently Logged in as:<span id = 'logged_in_user'></span>
          </p>
        </div>
      </div>
      <div id = 'form_input'>
	<div class = 'inputbox'>
          <label for = 'login-username'>Username:</label> <input type = 'text' name = 'login-username' id = 'login-username' size = '20'>
	</div>
	<div class = 'inputbox'>
          <label for = 'login-password'>Password:</label> <input type = 'password' name = 'login-password' id = 'login-password' size = '20'>
	</div>
      </div>
    </fieldset>
  </form>
